<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AutoPett UTT{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scrips.js') }}"></script>
</head>
<body>
    <nav>
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <ul id="navbar">
            <li class="logo"><a href="/"><img src="../static/img/logoAutopet.jpg" alt="Logo"></a></li>
            <li><a href="/descarga">Descarga</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Compra Fisica</a></li>
        </ul>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>