{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
        <div class="text-content">
            <h1>AUTOPET UTT</h1>
            <p>"Tu perro merece lo mejor, y eso incluye una alimentación precisa y constante. Nuestro comedero automático lo hace posible."</p>
            
            <div class="qr-container">
                <button>¡Descarga la app aquí!</button>
                <br>
                <img src="../static/img/qr_code.png" alt="QR para descargar app">
            </div>
        </div>

        <div class="image-content">
            <img src="../static/img/Captura de pantalla 2025-02-26 194708.png" alt="Comedero automático">
        </div>
    </div>
    <img src="../static/img/paw.png" class="paw-prints paw1">
    <img src="../static/img/paw.png" class="paw-prints paw2">
    <img src="../static/img/paw.png" class="paw-prints paw3">
    <img src="../static/img/paw.png" class="paw-prints paw4">
    <img src="../static/img/paw.png" class="paw-prints paw5">
    <img src="../static/img/paw.png" class="paw-prints paw6">
    <img src="../static/img/paw.png" class="paw-prints paw7">
</div>

{% endblock %}